#FacultyReport table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black
}

#FacultyReport th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  color: white;
  background-color: black;
}

#FacultyReport td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  color: black;
  background-color: white;
}

#FacultyReport tr {
  background-color: #4e9bff;
}